apdev-flights-ws/target/META-INF/mule-src/wt7-5_apdev-flights-ws_solution/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<sub-flow name="setCode" doc:id="f224c0c4-9942-4580-8f95-4db093eb88b2" >
		<set-variable value="#[message.attributes.queryParams.code default 'SFO']" doc:name="code" doc:id="2ee2862c-2bb8-445c-aa0e-4399c7eeb190" variableName="code"/>
	</sub-flow>
	<flow name="getAmericanFlights" doc:id="b15a5b7b-7ed0-4d61-8f2f-f87bdffede8d" >
		<http:listener doc:name="GET /american" doc:id="6fadac4d-e2c4-463d-b7ad-5841615bd42a" config-ref="HTTP_Listener_config" path="/american"/>
		<flow-ref doc:name="setCode" doc:id="193161ab-ebe2-4092-af9f-4bea52ce801d" name="setCode"/>
		<american-flights-api:get-flights doc:name="Get flights" doc:id="0018b970-5f4c-4f8b-b782-29315104abfb" config-ref="American_Flights_API_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
		<ee:transform doc:name="JSON to [FLIGHT]" doc:id="c82e1319-ace3-4f3c-9ae5-050a70355e6a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="06dc1e84-2f8a-48a3-b95c-10d2e72c0f59" />
	</flow>
	<flow name="getUnitedFlights" doc:id="9b4c6e6e-2de1-4599-b435-fd36832bc6d6" >
		<http:listener doc:name="GET /united" doc:id="2b3c5193-9a19-4162-bfa6-97b9166ac938" config-ref="HTTP_Listener_config" path="/united" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="52ab8e7f-5334-4a6d-b242-930e4957fdf0" name="setCode"/>
		<http:request method="GET" doc:name="Get Flights" doc:id="c04306fd-03d4-4e97-9e0a-814a4400a63c" config-ref="HTTP_Request_configuration" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="JSON to [FLIGHT]" doc:id="513f1f52-9d71-4000-9973-2b6a7f077994" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="66d10164-74d5-4fb3-9336-7980e3653a39" />
	</flow>
	<flow name="getDeltaflights" doc:id="f064c5d8-f0a9-46f9-aa31-5959799d9308" >
		<http:listener doc:name="GET /delta" doc:id="cf6aceb0-06cc-4224-816f-a48fbb249f68" config-ref="HTTP_Listener_config" path="/delta"/>
		<flow-ref doc:name="setCode" doc:id="dcf770bd-e093-4fc3-a07e-2b177d830320" name="setCode"/>
		<ee:transform doc:name="pass code" doc:id="99a35eb1-dfb8-463e-a5d3-f89f77c1e0e7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Getflights" doc:id="0cff8e6d-7815-440f-8495-7ba916c9824c" config-ref="Delta_Web_Service_Consumer_Config" operation="findFlight"/>
		<ee:transform doc:name="Soap to [FLIGHT]" doc:id="a999a28d-a242-40da-8c62-3a4f2c32b1ae" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9478d3cb-9dda-4e0b-b652-bb9f551d2323" />
	</flow>
</mule>
